<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Whoops! Error...</title>
  </head>
  <body>
    <h2>
      <header class="nav_header">
        <h1 class="hidden">Media Accessibility - Error Page</h1>

        <nav>
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
      </header>
      <section class="err">
        <p>Sorry! Seems like a wrong place to land. Head back to home page</p>
        <img class="error" src="/images/error.webp" alt="error page meme picture">
      </section>
    </h2>
  </body>
</html>