<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="css/main.css" rel="stylesheet" type="text/css" media="screen">
	 

	<title>Document</title>
</head>
<body>
	<header>

	</header>

	<main>
		 
		<h2 class="heading">Accessibility Research Project</h2>

		<h3>Welcome to Accessible Video and Audio!</h3>
		<br>

		<h5>Click at one of the boxes, either left or right where left is audio and right is video to fully enjoy the content.</h5>

		<section class="content">
			<div class="audio">
				<h3 class="hidden">Audio</h3>
				<p>Audio Multimedia</p>
				<a href="/audio">
					<p class="des">Vinland Saga | Season 1, Episode 2</p>
					<p>Special moments between Thorifin and his father's Thors, where he signify the preciousness of a human life.</p> 
				</a> 
				 
			</div>

			<div class="video">
				<h3 class="hidden">Video</h3>
				<p>Video Multimedia</p>
				<a href="/video">
					<p class="des">Office | Season 3, Episode 16</p>
				  <p>When Micheal becomes the best supportive friend on her art exhibtion.</p>
				</a>
				 

			</div>
			 
		</section>


	
	</main>
 
</body>
</html>