
#audioPage {
  padding: 1.8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;

  audio {
    width: 15em;
  }
}
.videoPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;

  video {
    width: 100%;
  }
}

.detail {
  padding: 1em;
}